<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <title>Xác nhận đăng ký môn học</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0 auto;
        padding: 24px;
        max-width: 800px;
        line-height: 1.6;
        color: #333;
      }

      .signature {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <p>Xin chào <strong>{{full_name}}</strong>,</p>

    <p>
      Học viện Mục vụ đã nhận được đăng ký môn học của bạn.
    </p>

    <p>
      Bạn vui lòng đọc kỹ giấy xác nhận đăng ký được đính kèm trong email này. Nếu có gì sai sót hoặc cần thay đổi, xin vui lòng liên hệ sớm nhất với
      Phòng Học Vụ để được hỗ trợ.
    </p>

    <p>
      Chân thành cảm ơn và kính chúc bạn có một học kỳ tốt đẹp tại Học viện Mục vụ!
    </p>

    <span class='signature'>
      <p>Học viện Mục vụ, ngày {{day}} tháng {{month}} năm {{year}}</p>
      <p>Giám Học</p>
      <p>Lm. Laurensô Hoàng Bá Quốc Huy</p>
    </span>
  </body>
</html>